.home-card{

    margin: 4rem 2rem 4rem 0;

    border-radius: 0.6rem;
    border: 2px solid transparent;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(22, 22, 22, 0.8);

    cursor: pointer;
}

.home-card:hover{
    border: 2px solid #ff822f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.home-card .buttons-container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    margin: 4rem 0 0 0;

}

.home-card .buttons-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 4rem;


    width: 100%;
    height: 100%;

}

.home-card .ant-btn-primary{
    width: 8rem;

    background-color: rgb(27, 139, 27);
}

.home-card .ant-btn-primary:hover{
    background-color: rgb(116, 170, 116) !important;
}