.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(253, 234, 196);
    min-height: 100vh;
}

.carousel-conteiner {
    width: 720px;
    height: 240px;

    margin: 8rem 0 4rem 0;

    border: 2px solid rgb(41, 41, 41);
    box-shadow: 0 4px 10px rgba(22, 22, 22, 0.8);
}

.page-container {
    width: 1280px;
    height: 1280px;

    margin: 6rem 0 8rem 0;
    padding: 1rem 2rem 1rem 2rem;

    font-family: 'Courier New', Courier, monospace;

    background-color: rgb(255, 255, 255);
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, #d65555 25%, transparent 25%, transparent 75%, #d34d4d 75%, #d35252), 
                      repeating-linear-gradient(45deg, #d65555 25%, #f7f2d4 25%, #f7f7d4 75%, #d34d4d 75%, #d35252);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;

    border-radius: 1rem;
    border: 2px solid rgb(41, 41, 41);
    box-shadow: 0 4px 10px rgba(22, 22, 22, 0.8);

}

.description-container {
    padding: 1rem 2rem 1rem 2rem;


    background-color: aliceblue;
    border-radius: 1rem;
    border: 1px solid rgb(41, 41, 41);
    box-shadow: 0 4px 10px rgba(22, 22, 22, 0.8);

    color: rgb(20, 20, 20);
}

.page-container .cards-container{
    padding-top: 12rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}